body {
  background-color: #f0f0f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0;
}
#container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

a:link,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #111;
}

#logo img {
  width: 300px;
  height: 80px;
}

header {
  padding: 15px 0;
  height: 75px;
  background-color: #d81c0e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a:link {
  display: block;
  padding-bottom: 3px;
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 1px solid #111;
}

#rodape {
  clear: both;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
}

#rodape > p a {
  padding: 2px 10px;
  color: #111;
}

#rodape > p a:hover {
  color: #d81c0e;
}

.tituloSobre {
  color: #d81c0e;
  text-align: center;
  text-decoration: underline;
}

.textoSobre {
  text-align: justify;
}

.carrossel {
  position: relative;
  width: 100%;
  height: 200px;
  max-width: 600px;
  margin: 1rem auto;
  overflow: hidden;
  border-radius: 7px;
  border: 2px solid #ccc;
  background-color: #fff;
}

.tituloProdutos {
  color: #d81c0e;
  text-align: center;
  margin-bottom: 0;
}

.carrosselImagens {
  display: flex;
  width: 25%;
  transition: transform 0.5s ease;
}

.carrosselImagens img {
  width: 100%;
  flex: 1 0 100%;
}

#botão {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #111;
  border: none;
  /* padding: -20px; */
  cursor: pointer;
  z-index: 1000;
}

button.anterior {
  left: 0;
}

button.proximo {
  right: 0;
}

.abaixoCarrossel {
  text-align: center;
}

.projetosEspeciais {
  color: #d81c0e;
  text-align: center;
}

#paragrafoEspeciais {
  color: #111;
}

.entreEmContato {
  background-color: #d81c0e;
  color: #fff;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  margin: 20px auto;
  display: block;
  text-align: center;
  line-height: 40px;
}
.entreEmContato:hover {
  background-color: #b2180d;
}
#mapa {
  text-align: center;
}

.tituloMapa {
  color: #d81c0e;
  text-align: center;
  margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
  #logo img {
    width: 200px;
    height: auto;
  }

  header {
    flex-direction: column;
    height: auto;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .carrossel {
    width: 100%;
  }

  .entreEmContato {
    width: 100%;
  }
}
